<div class="comment_box">
  <p><strong>Comments</strong></p>

  <% if item.comments.empty? %>
    <p>No comments yet</p>
  <% else %>
    <ul class="comments">
      <% item.comments.each do |comment| %>
        <li><%= comment.user.email %>: <%= comment.comment %></li>
      <% end %>
    </ul>
  <% end %>

  <p><strong>Add a comment<strong></p>
  <%= form_for item.comments.build do |form| %>
    <%= form.hidden_field :item_id, :value => item.id %>
    <%= form.hidden_field :item_type, :value => item.class %>
    <%= form.text_area :comment %>
    <%= form.submit "Post comment" %>
  <% end %>
</div>