<%= form_for @person, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :role, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :role, ["Citizen", "Staff", "Profesional user"], :class => 'text_field' %>
    </div>
    <p class="help-block">An example of a citizen is a Claimant. An example of staff is the court staff administering a tribunals service. An example of a professional user is a Judge, Employer or legal professional.</p>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
    <p class="help-block">Enter the name of the person. Eg Judge, or Prison Staff</p>
  </div>
  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, :class => 'text_field' %>
    </div>
    <p class="help-block">An optional description of the persons location. E.g. court, prison, probation service.</p>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
    <p class="help-block">An optional description of the link</p>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                people_path, :class => 'btn' %>
  </div>
<% end %>
