<%= form_for [@service, @story], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="group">
    <%= f.label :name, "Transaction name" %>
    <p class="form-hint">
      This should describe the transaction as the user story.
    </p>
    <%= f.text_field :name %>
  </div>

  <div class="group">
    <%= f.label :service_id, "Groups" %>
    <p class="form-hint">
      Describe the type of grouping that you would like this transcation to sit under. Transactions can live in multiple groups.
    </p>
    <%= f.select :service_id, Service.all.collect{|x| [x.name, x.id]}, :include_blank => "None" %>
  </div>

  <div class="group">
    <p>Status</p>
    <p class="form-hint">
      What status is this transaction currently in.
    </p>
    <%= f.label :status_live do %>
      <%= f.radio_button :status, "live" %>
      Live
    <% end %>
    <%= f.label :status_proposed do %>
      <%= f.radio_button :status, "proposed" %>
      Proposed
    <% end %>
    <%= f.label :status_deprecated do %>
      <%= f.radio_button :status, "deprecated" %>
      Deprecated
    <% end %>
  </div>

  <div class="group">
    <%= f.label :owner, "Service Manager responsible" %>
    <p class="form-hint">
      This person is the contact point for this transaction and any enquiries by other teams.
    </p>
    <%= f.text_field :owner %>
  </div>

  <div class="group">
    <%= f.label :description %>
    <p class="form-hint">
      Clearly describe what this particular transaction does.
    </p>
    <%= f.text_area :description %>
  </div>

  <div class="group">
    <%= f.label :replaces_story_id %>
    <%= f.select :replaces_story_id, Story.all.collect{|x| [x.name, x.id]}, :include_blank => "None" %>
  </div>

  <div class="group">
    <%= f.label :parent_ids, "Parent Transactions" %>
    <%= f.select :parent_ids, Story.all.collect {|x| [x.name, x.id]}, {}, :multiple => true, :class => "multi_select" %>
  </div>

  <div class="actions">
    <div class="primary-actions">
      <%= f.submit "Save", :class => 'button button-primary' %>
      <%= link_to 'Back', stories_path %>
    </div>
  </div>
<% end %>
