<%= form_for [@service, @story], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :service_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :service_id, Service.all.collect{|x| [x.name, x.id]}, :include_blank => "None", :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :status, :class => 'text_field' %>
    </div>
    <p class="help-block">Whether the transaction is live, proposed, historical or other</p>
  </div>
  <div class="control-group">
    <%= f.label :owner, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :owner, :class => 'text_field' %>
    </div>
    <p class="help-block">The organisation or department that owns the transaction</p>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
    <p class="help-block">A description of the transaction. E.g. An explanation of a future version of an existing transaction.</p>
  </div>
  <div class="control-group">
    <%= f.label :replaces_story_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :replaces_story_id, Story.all.collect{|x| [x.name, x.id]}, :include_blank => "None", :class => 'text_field' %>
    </div>
    <p class="help-block">This drop down field allows a new transaction to replace an existing transaction. E.g. if a transaction has been redesigned to use a new service</p>
  </div>

  <div class="control-group">
    <%= f.label :parent_ids, "Parent Transactions", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :parent_ids, Story.all.collect {|x| [x.name, x.id]}, {}, :multiple => true, :class => "multi_select" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                stories_path, :class => 'btn' %>
  </div>
<% end %>
