<%= form_for @story, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="group">
    <%= f.label :name, "Transaction name" %>
    <p class="form-hint">
      This should describe the transaction as the user story.
    </p>
    <%= f.text_field :name %>
  </div>
  <hr />
  <div class="group">
    <%= f.label :group_ids, "Groups" %>
    <p class="form-hint">
      Describe the type of grouping that you would like this transcation to sit under. Transactions can live in multiple groups.
    </p>
    <%= f.select :group_ids, Group.all.collect {|x| [x.name, x.id]}, {}, :multiple => true, :class => "multi_select_with_create" %>
  </div>
  <hr />

  <div class="group status_select">
    <p>Status</p>
    <p class="form-hint">
      What status is this transaction currently in.
    </p>
    <%= f.label :status_live do %>
      <%= f.radio_button :status, "live" %>
      <%= status_flag "Live" %>
    <% end %>
    <%= f.label :status_proposed do %>
      <%= f.radio_button :status, "proposed" %>
      <%= status_flag "Proposed" %>
    <% end %>
    <%= f.label :status_deprecated do %>
      <%= f.radio_button :status, "deprecated" %>
      <%= status_flag "Deprecated" %>
    <% end %>
  </div>
  <hr />

  <div class="group">
    <fieldset>
      <legend>Service manager responsible</legend>
      <p class="form-hint">
        This person is the contact point for this transaction and any enquiries by other teams.
      </p>

      <%= f.label :contact_name, "Name" %>
      <%= f.text_field :contact_name %>

      <%= f.label :contact_email, "Email" %>
      <%= f.text_field :contact_email %>

      <%= f.label :contact_team, "Department and team" %>
      <p class="form-hint">
        E.g. MOJDS, Prison visit bookings
      </p>
      <%= f.text_field :contact_team %>
    </fieldset>
  </div>
  <hr />

  <div class="group">
    <%= f.label :description %>
    <p class="form-hint">
      Clearly describe what this particular transaction does.
    </p>
    <%= f.text_area :description %>
  </div>
  <hr />

  <div class="group">
    <%= f.label :replaces_story_id %>
    <p class="form-hint">
      Is this transaction going to make another transaction deprecated? In which case state which one.
    </p>
    <%= f.select :replaces_story_id, Story.all.collect{|x| [x.name, x.id]}, {:include_blank => "None"}, :class => 'multi_select' %>
  </div>

  <div class="group">
    <%= f.label :parent_ids, "Previous Transactions" %>
    <p class="form-hint">
      Do users of this transactions typically come from other transactions? This is used to map user journeys.
    </p>
    <%= f.select :parent_ids, Story.all.collect {|x| [x.name, x.id]}, {}, :multiple => true, :class => "multi_select" %>
  </div>

  <div class="actions">
    <div class="primary-actions">
      <%= f.submit "Save", :class => 'button button-primary' %>
      <%= link_to 'Back', stories_path %>
    </div>
  </div>
<% end %>
