<%- model_class = Story -%>
<%= render :partial => 'header' %>

<ul class="zebra_list transactions">
  <% @stories.each do |story| %>
    <li>
      <span class="name"><%= link_to story.name, story_path(story) %></span>
      <%= status_flag(story.status) %>
      <span class="groups">
        <strong>Groups</strong><br />
        <%= story.groups.collect(&:name).join(", ") %>
      </span>
      <span class="stages">
        <strong class="desc">Stages</strong><br />
        <%= story.story_stages.count %>
      </span>
    </li>
  <% end %>
</ul>