<%- model_class = Story -%>
<%= render :partial => 'header' %>

<%= link_to "Add a new transaction", new_story_path %>

<ul class="zebra_list transactions">
  <% @stories.each do |story| %>
    <li>
      <span class="name"><%= link_to story.name, story_path(story) %></span>
      <span class="status"><%= story.status %></span>
      <span class="groups">
        Groups
        <%= story.groups.collect(&:name).join(", ") %>
      </span>
      <span class="stages">
        Stages
        <%= story.story_stages.count %>
      </span>
    </li>
  <% end %>
</ul>