<% breadcrumb @story %>

<%= status_flag(@story.status) %>
<%= link_to "Edit this transaction", edit_story_path(@story), :class => 'page_edit' %>
<h1><%= @story.name %></h1>

<p class="supportive_text"><%= @story.description %></p>

<% if @story.groups.present? %>
  <p class="supportive_text">Groups: <strong><%= @story.groups.collect(&:name).join(", ") %></strong></p>
<% end %>

<% if @story.contact_name.present? %>
  <p class="supportive_text">
    Owned by:
    <strong><%= @story.contact_name %> 
    <% if @story.contact_team.present? %>
      (<%= @story.contact_team %>)
    <% end %>
    </strong>
  </p>
<% end %>

<% if @story.contact_email.present? %>
  <p class="supportive_text">Contact email: <strong><%= @story.contact_email %></strong></p>
<% end %>

<% if @story.replaces_story %>
  <p class="supportive_text">Replaces: <strong><%= link_to @story.replaces_story.name, story_path(@story.replaces_story) %></strong></p>
<% end %>

<h2>Transaction Stages</h2>

<p class="supportive_text">
  These are the system interactions that happen to deliver this transaction.<br/>
  They can be physical interactions or digital ones.
</p>

<ol class="transaction_stages">
  <% @story.story_stages.ordered.each do |stage| %>
    <li class="story_stage<%= ' unlinked' unless stage.linked_with_last_stage? %>">
      <span class="position"><%= stage.position %></span>
      <span class="description"><%= stage.description %></span>
      <span class="from_to">
        <% unless stage.linked_with_last_stage? %>
          <span class="from">
            <%= image_tag system_icon_path(stage.from.type), :width => 40 %>
            <%= link_to stage.from.name, stage.from %>
          </span>
        <% else %>
          <span class="from from_previous"></span>
        <% end %>
        <span class="payload">
          <%= image_tag mode_icon_path(stage.payload), :width => 40 %>
          <%= stage.payload %>
        </span>
        <span class="to">
            <%= image_tag system_icon_path(stage.to.type), :width => 40 %>
          <%= link_to stage.to.name, stage.to %>
        </span>
      </span>
      <span class="edit"><%= link_to "Edit", edit_story_story_stage_path(@story, stage) %></span>
    </li>
  <% end %>
</ol>

<%= link_to "Re-order", story_story_stages_path(@story) %>

<%= link_to new_story_story_stage_path(@story), :class => 'add_new' do %>
  <span class="link">Add a new stage</span>
  <small>Would you like to add a another stage to your transaction?</small>
<% end %>