<% breadcrumb @story %>

<%= @story.status %>
<%= link_to "Edit", edit_story_path(@story) %>
<h1><%= @story.name %></h1>

<%= @story.description %>


<dl class="dl-horizontal">
  <dt><strong>Group:</strong></dt> <dd><%= @story.service.name if @story.service %></dd>
  <dt><strong>Owned by:</strong></dt> <dd><%= @story.owner %></dd>
  <% if @story.replaces_story %>
    <dt><strong>Replaces:</strong></dt> <dd><%= link_to @story.replaces_story.name, story_path(@story.replaces_story) %></dd>
  <% end %>
</dl>

<h2>Stages</h2>

<p>These are the system interactions that happen</p>

<% @story.story_stages.ordered.each do |stage| %>
  <div class="story_stage">
    <%= stage.position %>
    <%= stage.description %>
    <%= link_to stage.from.name, stage.from %>
    <%= stage.payload %>
    <%= link_to stage.to.name, stage.to %>
    <%= link_to "Edit", edit_story_story_stage_path(@story, stage) %>
  </div>
<% end %>