<% breadcrumb @story %>

<%= @story.status %>
<%= link_to "Edit", edit_story_path(@story) %>
<h1><%= @story.name %></h1>

<%= @story.description %>

<p>Group: <strong><%= @story.service.name if @story.service %></strong></p>
<p>Owned by: <strong><%= @story.owner %></strong></p>
<% if @story.replaces_story %>
  <p>Replaces: <strong>%= link_to @story.replaces_story.name, story_path(@story.replaces_story) %></strong></p>
<% end %>

<h2>Stages</h2>

<p>
  These are the system interactions that happen to deliver this transaction.<br/>
  They can be physical interactions or digital ones.
</p>

<p>
  <%= link_to "Add a stage", new_story_story_stage_path(@story) %>
</p>

<ol class="transaction_stages">
  <% @story.story_stages.ordered.each do |stage| %>
    <li class="story_stage">
      <span class="position"><%= stage.position %></span>
      <span class="description"><%= stage.description %></span>
      <span class="from_to">
        <span class="from">
          <%= image_tag '/icons/citizen.png', :width => 40 %><br />
          <%= link_to stage.from.name, stage.from %>
        </span>
        <span class="payload"><%= stage.payload %></span>
        <span class="to">
          <%= image_tag '/icons/server.png', :width => 40 %><br />
          <%= link_to stage.to.name, stage.to %>
        </span>
      </span>
      <span class="edit"><%= link_to "Edit", edit_story_story_stage_path(@story, stage) %></span>
    </li>
  <% end %>
</ol>