
<%= render :partial => 'header' %>

<div id="story_graph">
  <svg>
      <g transform="translate(20,20)" class="gwrapper"/>
  </svg>
</div>

<script>
  $(function() {
    var g = new dagreD3.Digraph();
    <% @stories.each do |story| %>
      g.addNode(<%= story.id %>, { label: "<%= story.name.html_safe %>"})
    <% end %>
    <% @story_links.each do |story_link| %>
      g.addEdge(null, <%= story_link.from_id %>, <%= story_link.to_id %>, { });
    <% end %>
    var layout = dagreD3.layout()
                        .nodeSep(20)
                        .rankDir("LR");
    var renderer = new dagreD3.Renderer();
    renderer.layout(layout).run(g, d3.select("svg g"));
  })
</script>

<style>
#story_graph {
  overflow: scroll;
}
svg {
  overflow: visible;
  height:auto;
  width:auto;
}

.node rect {
    stroke: #333;
    stroke-width: 1.5px;
    fill: #fff;
}

.edgeLabel rect {
    fill: #fff;
}

.edgePath {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
}
</style>
