
<%= render :partial => 'header' %>

<div id="story_graph_container">
  <div id="story_graph">
    <svg width="10000px" height="10000px">
        <g transform="translate(20,20)" class="gwrapper"/>
    </svg>
  </div>
</div>
<script>
  $(function() {
    var g = new dagreD3.Digraph();
    <% @stories.each do |story| %>
      g.addNode(<%= story.id %>, { label: "<%= story.name.html_safe %>"})
    <% end %>
    <% @story_links.each do |story_link| %>
      g.addEdge(null, <%= story_link.from_id %>, <%= story_link.to_id %>, { });
    <% end %>
    var layout = dagreD3.layout()
                        .nodeSep(20)
                        .rankDir("LR");
    var renderer = new dagreD3.Renderer();
    renderer.layout(layout).run(g, d3.select("svg g"));
  })
</script>

<style>
#story_graph_container {
  height:500px;
}
#story_graph {
  position:absolute;
  width:98%;
  margin:1%;
  left:0;
  height:500px;
  overflow:hidden;
  border: 1px solid black;
}
svg {
  width:100%;
  height:100%;
  overflow: visible;
  height:auto;
  width:auto;
}

.node rect {
    stroke: #333;
    stroke-width: 1.5px;
    fill: #fff;
}

.edgeLabel rect {
    fill: #fff;
}

.edgePath {
    stroke: #333;
    stroke-width: 1.5px;
    fill: none;
}
</style>
