<%= form_for [@service, @story, @story_stage], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :from_str, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :from_str, 
        grouped_options_for_select({
          "Systems" => System.alphabetical.all.collect {|x| [x.name, x.polymorphic_id]}, 
          "People" => Person.alphabetical.all.collect {|x| [x.name, x.polymorphic_id]}
        }, @story_stage.from_str) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :to_str, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :to_str, grouped_options_for_select({
          "Systems" => System.alphabetical.all.collect {|x| [x.name, x.polymorphic_id]}, 
          "People" => Person.alphabetical.all.collect {|x| [x.name, x.polymorphic_id]}
        }, @story_stage.to_str) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :payload, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :payload, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :average_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :average_time, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                service_story_story_stages_path(@service, @story), :class => 'btn' %>
  </div>
<% end %>
