= form_for [@story, @story_stage], :html => { :class => 'form-horizontal' } do |f|
  .group
    = f.label :description, "Stage name" 
    %p.form-hint
      This should describe what happens in that stage between the system. eg. 'Request Confirmation sent to citizen'.
    = f.text_field :description 

  %hr

  .group
    %fieldset#from_system.system_fieldset
      %legend
        = image_tag '/icons/system-from.png', :height => 20
        %br
        'From' system
      %p.form-hint
        This is the first system point in this stage. Either select systems from our databaseor add a new system.
      = render :partial => 'system_form', :locals => {:direction => "from", :f => f} 

  %hr

  .group
    %fieldset.mode_select
      %p
        = image_tag '/icons/system-mode.png', :height => 20
        %br
        Mode
      - StoryStage.modes.each do |mode| 
        %label
          = f.radio_button :payload, mode 
          = image_tag mode_icon_path(mode), :width => 25
          = mode 
      %label
        = f.radio_button :payload, 'other' 
        = image_tag mode_icon_path('default'), :width => 25
        = f.text_field :payload_other, :id => 'other_payload_input'

  %hr

  .group
    %fieldset#to_system.system_fieldset
      %legend
        = image_tag '/icons/system-to.png', :height => 20
        %br
        'To' system
      = render :partial => 'system_form', :locals => {:direction => "to", :f => f} 

    .form-actions
      = f.submit nil, :class => 'button button-primary' 
      = link_to t('.cancel', :default => t("helpers.links.cancel")), story_story_stages_path(@story), :class => 'btn' 