<%= form_for [@story, @story_stage], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="group">
    <%= f.label :description, "Stage name" %>
    <p class="form-hint">This should describe what happens in that stage between the system. eg. 'Request Confirmation sent to citizen'.</p>
    <%= f.text_field :description %>
  </div>
  <% ["from", "to"].each do |direction| %>
    <div class="group">
      <fieldset id="<%= direction %>_system">
        <label>
          <%= radio_button_tag "#{direction}_selector", "existing" %>
          Select a system from our database
        </label>
        <%= f.select "#{direction}_id", 
            options_for_select(System.alphabetical.collect {|x| [x.name, x.id]}, @story_stage.from_id) %>

        <label>
          <%= radio_button_tag "#{direction}_selector", "new" %>
          Add a new system
        </label>
        <%= f.fields_for direction, System.new do |system_form| %>
          <%= system_form.label :name %>
          <%= system_form.text_field :name %>
        <% end %>
      </fieldset>
    </div>
  <% end %>
  <div class="group">
    <fieldset>
      <p>Mode</p>
      <% StoryStage.modes.each do |mode| %>
        <label>
          <%= f.radio_button :payload, mode %>
          <%= mode %>
        </label>
      <% end %>
   </fieldset>
 </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                story_story_stages_path(@story), :class => 'btn' %>
  </div>
<% end %>
