<div class="group">
  <fieldset id="<%= direction %>_system">
    <label>
      <%= radio_button_tag "#{direction}_selector", "existing" %>
      Select a system from our database
    </label>
    <%= f.select "#{direction}_id", 
        options_for_select(System.alphabetical.collect {|x| [x.name, x.id]}, @story_stage.send("#{direction}_id")) %>

    <!--
      Not sure how to best handle this link. Happy for the form to not be inline
      if that's easier, but the link will still need to update depending on the
      above select box. How to do this unobtrusively may be beyond us.
    -->
    <%= link_to "Edit details", "#" %>

    <label>
      <%= radio_button_tag "#{direction}_selector", "new" %>
      Add a new system
    </label>
    <%= link_to "Edit details", "#new_#{direction}_system_fields" %>
    <div id="new_<%= direction %>_system_fields">
      <%= f.fields_for direction, System.new do |system_form| %>
        <%= render :partial => 'systems/fields', :locals => {:form => system_form} %>
      <% end %>
    </div>
  </fieldset>
</div>
