<% breadcrumb :story_stages, @story %>
<%- model_class = StoryStage -%>
<div class="page-header">
  <h1>Transaction Stages</h1>
</div>
<table class="table table-striped sortable" data-sort-url="<%= sort_story_story_stages_path(@story) %>">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:position) %></th>
      <th><%= model_class.human_attribute_name(:from_id) %></th>
      <th><%= model_class.human_attribute_name(:to_id) %></th>
      <th><%= model_class.human_attribute_name(:payload) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:average_time) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @story_stages.each do |story_stage| %>
      <tr id="story_stage_<%= story_stage.id %>" class="item">
        <td><%= link_to story_stage.position, story_story_stage_path(@story, story_stage) %></td>
        <td><%= story_stage.from.name %></td>
        <td><%= story_stage.to.name %></td>
        <td><%= story_stage.payload %></td>
        <td><%= story_stage.description %></td>
        <td><%= story_stage.chronic_duration_average_time %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_story_story_stage_path(@story, story_stage), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      story_story_stage_path(@story, story_stage),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      <td class="handle">
        Move
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_story_story_stage_path(@story),
            :class => 'btn btn-primary' %>
