<h2>
  <%= link_to @story_stage.description, service_story_story_stage_path(@story_stage.story.service, @story_stage.story, @story_stage) %>
</h2>

<div class="info_panel_contents">
  <div class="attributes">
    <% [:payload, :average_time].each do |attribute| %>
      <% if @story_stage.send(attribute).present? %>
        <p><strong><%= StoryStage.human_attribute_name(attribute) %>:</strong> <%= @story_stage.send(attribute) %></p>
      <% end %>
    <% end %>
  </div>

  <p><strong>Story:</strong> <%= link_to @story_stage.story.name, service_story_path(@story_stage.story.service, @story_stage.story) %></p>
</div>

<div class="actions">
  <%= link_to "Show more", service_story_story_stage_path(@story_stage.story.service, @story_stage.story, @story_stage) %> |
  <%= link_to "Edit", edit_service_story_story_stage_path(@story_stage.story.service, @story_stage.story, @story_stage) %>
</div>