<%= form_for @system, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
    <p class="help-block">The name of the system, E.g. Quantum Exchange</p>
  </div>
  <div class="control-group">
    <%= f.label :owner, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :owner, :class => 'text_field' %>
    </div>
    <p class="help-block">The organisation or department that owns the system, E.g Digital Services</p>
  </div>
  <div class="control-group">
    <%= f.label :owner_email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :owner_email, :class => 'text_field' %>
    </div>
    <p class="help-block">The relevant owners email contact details</p>
  </div>
  <div class="control-group">
    <%= f.label :supplier, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :supplier, :class => 'text_field' %>
    </div>
    <p class="help-block">The organisation that built it. e.g. gov dept or 3rd party</p>
  </div>
  <div class="control-group">
    <%= f.label :technology, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :technology, :class => 'text_field' %>
    </div>
    <p class="help-block">The technology or language that enables the system to run. E.g. Ruby on Rails, Microsoft Exchange</p>
  </div>
  <div class="control-group">
    <%= f.label :technical_support_contact, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :technical_support_contact, :class => 'text_field' %>
    </div>
    <p class="help-block">Who to contact for technical support for this system</p>
  </div>
  <div class="control-group">
    <%= f.label :source_code_url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :source_code_url, :class => 'text_field' %>
    </div>
    <p class="help-block">The URL to view the source code, eg a github repository URL</p>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :status, :class => 'text_field' %>
    </div>
    <p class="help-block">Whether the service is live, historical or proposed</p>
  </div>
  <div class="control-group">
    <%= f.label :hosting, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :hosting, :class => 'text_field' %>
    </div>
    <p class="help-block">Who hosts the system, whether internal or external</p>
  </div>
  <div class="control-group">
    <%= f.label :network, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :network, :class => 'text_field' %>
    </div>
    <p class="help-block">Which MOJ Network is this system on? E.g. DOM1</p>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_field' %>
    </div>
    <p class="help-block">An optional description of the link</p>
  </div>
  <div class="control-group">
    <%= f.label :contract_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :contract_id, Contract.all.collect {|x| [x.name, x.id]}, :include_blank => "None", :class => 'text_field' %>
    </div>
    <p class="help-block">The contract this service is procured under, if applicable.</p>
  </div>
  <div class="control-group">
    <%= f.label :decommissioning, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :decommissioning, :class => 'text_field' %>
    </div>
    <p class="help-block">Whether we have plans to decommission this system in the near future.</p>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                systems_path, :class => 'btn' %>
  </div>
<% end %>
