<%= form_for @system, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :owner, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :owner, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :owner_email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :owner_email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :supplier, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :supplier, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :technology, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :technology, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :status, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :hosting, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :hosting, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :impact_level, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :impact_level, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :network, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :network, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :contract_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :contract_id, Contract.all.collect {|x| [x.name, x.id]}, :include_blank => "None", :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                systems_path, :class => 'btn' %>
  </div>
<% end %>
