<div class="row">
  <div class="span9">
    <div id="systems_graph"></div>
  </div>
  <div class="span3" id="sidebar">
    <div id="info_panel"></div>
    <p><input type="checkbox" id="hide_stories" /> Hide transaction stages</p>
    <% if @stories %>
      <div id="story_panels">
        <% @stories.each do |story| %>
          <div class="story_panel">
            <h2><%= story.name %></h2>
            <p><strong>Average time</strong>: <%= story.average_time_string %>
            <% if story.replaces_story %>
              <p>Replaces <%= link_to story.replaces_story.name, story_path(story.replaces_story) %></p>
            <% end %>
           <ol>
              <% story.story_stages.ordered.each do |story_stage| %>
                <li id="story_stage_<%= story_stage.id %>_desc" class="story_stage_desc"><%= story_stage.description %></li>
              <% end %>
            </ol>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>