<h2>
  <%= link_to @system.name, system_path(@system) %>
</h2>

<div class="info_panel_contents">
  <div class="attributes">
    <% [:owner, :supplier, :technology, :status, :hosting, :impact_level].each do |attribute| %>
      <% if @system.send(attribute).present? %>
        <p><strong><%= System.human_attribute_name(attribute) %>:</strong> <%= @system.send(attribute) %></p>
      <% end %>
    <% end %>
    <% if @system.contract %>
      <p><strong>Contract:</strong> <%= link_to @system.contract.name, contract_path(@system.contract) %></p>
    <% end %>
  </div>

  <p><strong>Involved in these stories:</strong></p>

  <ul>
    <% @system.stories.each do |story| %>
      <li><%= link_to story.name, root_path(:story_id => story.id) %></li>
    <% end %>
  </ul>
</div>

<div class="actions">
  <%= link_to "Show more", system_path(@system) %> |
  <%= link_to "Edit", edit_system_path(@system) %>
</div>