<%- model_class = System -%>
<div class="page-header">
  <%= @system.name %>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:owner) %>:</strong></dt>
  <dd><%= @system.owner %></dd>
  <dt><strong><%= model_class.human_attribute_name(:owner_email) %>:</strong></dt>
  <dd><%= @system.owner_email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:supplier) %>:</strong></dt>
  <dd><%= @system.supplier %></dd>
  <dt><strong><%= model_class.human_attribute_name(:technology) %>:</strong></dt>
  <dd><%= @system.technology %></dd>
  <dt><strong><%= model_class.human_attribute_name(:technical_support_contact) %>:</strong></dt>
  <dd><%= @system.technical_support_contact %></dd>
  <dt><strong><%= model_class.human_attribute_name(:source_code_url) %>:</strong></dt>
  <dd><%= @system.source_code_url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @system.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:hosting) %>:</strong></dt>
  <dd><%= @system.hosting %></dd>
  <dt><strong><%= model_class.human_attribute_name(:network) %>:</strong></dt>
  <dd><%= @system.network %></dd>
  <dt><strong><%= model_class.human_attribute_name(:decommissioning) %>:</strong></dt>
  <dd><%= @system.decommissioning %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contract) %>:</strong></dt>
  <dd>
    <% if @system.contract %>
      <%= link_to @system.contract.name, contract_path(@system.contract) %>
    <% else %>
      None
    <% end %>
  </dd>
</dl>

<p>Involved in these transactions:</p>

<ul>
  <% @system.stories.each do |story| %>
    <li><%= link_to story.name, root_path(:story_id => story.id) %></li>
  <% end %>
</ul>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              systems_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_system_path(@system), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              system_path(@system),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
