<% content_for :log_in_out do %>
  <%= link_to "About", root_path %>
  <%= link_to "Transactions", stories_path %>
  <%= link_to "Systems", systems_path %>
<% end %>
<% content_for :head do %>
  <%= stylesheet_link_tag("application", media: "all") %>
  <%= javascript_include_tag("application") %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-37377084-15', 'auto');
    ga('send', 'pageview');

  </script>
<% end %>

<% content_for :content do %>
    <div id="wrapper" class="">
    <div id="global-breadcrumb" class="clearfix">
      <nav>
        <%= breadcrumbs :style => :ol %>
      </nav>
    </div>
    <main id="content" role="main" class="">
      <div class="inner-block">
        <% if notice.present? %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <%= yield %>
      </div>
    </main>
  </div>
<% end %>
<% content_for :footer_top do %>
  <% if current_user %>
    Logged in as <%= current_user.email %>
    <%= button_to "Sign out", destroy_user_session_path, :method => :delete, :class => 'link_button' %>
  <% end %>
<% end %>
<%= render template: "layouts/moj_internal_template" %>
